#app,
#__nuxt,
#__layout {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  word-break: break-word;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

ul,
li,
ol,
dl {
  list-style: none;
}

button, input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}